<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PatchLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PatchLoader.Properties.Settings>
            <setting name="RemoteRoot" serializeAs="String">
                <value>$/Objects_ATC</value>
            </setting>
            <setting name="RemoteLinkRoot" serializeAs="String">
                <value>$/Patches/Working</value>
            </setting>
            <setting name="BaseLocation" serializeAs="String">
                <value>\\bivss-dmz\DWH\srcsafe.ini</value>
            </setting>
            <setting name="LastSavedDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AddToRep" serializeAs="String">
                <value>.*</value>
            </setting>
            <setting name="AddToPatch" serializeAs="String">
                <value>.*</value>
            </setting>
            <setting name="NotAddToRep" serializeAs="String">
                <value>script_|file_sc</value>
            </setting>
            <setting name="NotAddToPatch" serializeAs="String">
                <value>vssver2.scc</value>
            </setting>
            <setting name="ScriptsSubdir" serializeAs="String">
                <value>db_scripts</value>
            </setting>
            <setting name="InfaSubdir" serializeAs="String">
                <value>infa_xml</value>
            </setting>
            <setting name="RepStructureScripts" serializeAs="String">
                <value>Index
Procedure
Table
Tablespace
User
View</value>
            </setting>
            <setting name="RepStructureInfa" serializeAs="String">
                <value>Configs
Mappings
Mapplets
Schedulers
Sessions
Sources
Targets
Tasks
Transformations
User-Defined Function
Workflows</value>
            </setting>
            <setting name="PatchInstallerPath" serializeAs="String">
                <value>X:\IPatch\patch_ins_pr_slesh</value>
            </setting>
            <setting name="SearchRoots" serializeAs="String">
                <value />
            </setting>
        </PatchLoader.Properties.Settings>
    </userSettings>
</configuration>
